body {
    background-color: #FF6F00;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    width: 100%;
    text-align: center;
}

.loginform {
	position:relative;
	top:20em;
}

.loginform div {
	margin-top:20px;
}

h1 {
    font-size: 5.9vw;
}

div.log {
    width: 100%;
}