body {
    background: url(../images/background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    width: 100%;
    text-align: center;
}

.loginform {
	position:relative;
	top:20em;
}

.loginform div {
	margin-top:20px;
}

div.log {
    width: 100%;
}