@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.ttf');
}

.playlist {
    margin:0px;
    padding:0px;
    background-color:#FFF;
}

.playzone {
    margin:0px;
    padding:0px;
    background-color: #FF6F00;
}

.container-fluid .jumbotron {
    border-radius:0px;
    height:100%;
overflow-y: auto;
float:left;
overflow-x: hidden;
}

.row-player {
   // height: 67.65em;
}

.name{
height:20%;
background:#fff;
overflow-y:auto;
}

.list {
    height:80%;
background:#000;
overflow-y:auto;
}

html, body{
    height: 100%;
}

.header-playlist {
    font-family: 'Oswald-Bold', Arial, sans-serif;
    color:#FFF;
}

.list ul {
    padding:0px;
}