.playlist {
    margin:0px;
    padding:0px;
    background-color:#000;
}

.playzone {
    margin:0px;
    padding:0px;
    background-color: #FF6F00;
}

.container-fluid .jumbotron {
    border-radius:0px;
    height:100%;
}

.row-player {
    height: 67.65em;
}