<div class="panel-body loginform cf col-md-offset-3 vcenter ">

                        <div class="form-group">
                            <!-- <label for="usermail" class="col-sm-3 control-label">Username</label> -->
                            <div class="col-lg-8">
                                <input type="text" name="username" class="form-control" ng-model="username" placeholder="username" required>
                            </div>
                        </div>
                        <div class="form-group">                     
                            <div class="col-lg-8">
                                <input type="password" class="form-control" ng-model="password" placeholder="password" required>
                            </div>
                        </div>
                        <div class="form-group last">
                            <!--  <div class="col-sm-offset-3 col-lg-9">-->
                            <!--myData.doClick(item, $event)-->
                            <div class="col-lg-8">
                                <button type="submit" class="btn btn-success btn-sm" style="width:80%;" ng-click = "myData.doClick(item, $event)">Login</button>    <!--myData.doClick(item, $event)-->              
                            </div>
                        </div>

</div>
     <i class="fa fa-user fa-fw fa-2x fawesome-user" style="color:green; position: absolute; top: 11.25em;  left: 11.5em;"></i>

     <i class="fa fa-lock fa-fw fa-2x fawesome-pass" style="color:red; position: absolute; top: 12.70em;  left: 11.5em;"></i>
