

 
        <title>Learning Object Player</title>
        <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css">


    <div class="container-fluid player">
        <div class="row row-player">
        <!-- LO Playlist -->
            <div class="col-md-3 playlist jumbotron container-fluid" style="padding:0px;"> 
                <div class="row name">
                Hello, {{data.firstName}} {{data.lastName}}
                </div>
                <div class="row list">
                    <ul>

                        <h4 style="color:white" ng-click="showLO()" ng-init="flag=false">Learning Objects</h4>
                            <div class="los" ng-if="flag">
                                <li style="color:white; list-style-type:none;" ng-repeat= "x in data.liableLearningObjects"> <div ng-click="displayLO(x.sequence)">{{x.title}}</div></li>
                            </div>
                        <h4 style="color:white" ng-click="goToStore()">Open LO Store</h4>    
                        <h4 style="color:white" ng-click="">Open Quiz</h4>    
                        <h4 style="color:white" ng-click="goToLORI()">Open LORI</h4>    
                    </ul>
                </div>
            </div>
             <!-- LO form -->
            <div class="col-md-9 playzone jumbotron" id="mainDiv">
                
            </div>
        </div>
    </div>



  
